@use './panel';

.aro-dialog {
  @extend .aro-panel;

  // 400px 为默认宽度，实际宽度可以被 style.width 覆盖
  width: 400px;
  max-width: 70%;

  .aro-dialog-header {
    font-size: 125%;
    margin: 12px 16px;
  }

  .aro-dialog-body {
    margin: 12px 16px;
  }

  .aro-dialog-footer {
    display: flex;
    margin: 12px 16px;
    justify-content: flex-end;

    *[data-action] {
      margin-left: 8px;
    }
  }
}
