@mixin drawerPlacementsMixin {
  &[data-placement='right'] {
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 400px;
    max-width: 80%;
    box-shadow: var(--aro-shadows-lowLeft);
  }

  &[data-placement='left'] {
    width: 400px;
    max-width: 80%;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    box-shadow: var(--aro-shadows-lowRight);
  }

  &[data-placement='top'] {
    height: 400px;
    max-height: 80%;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    box-shadow: var(--aro-shadows-lowDown);
  }

  &[data-placement='bottom'] {
    height: 400px;
    max-height: 80%;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--aro-shadows-lowUp);
  }
}

.aro-drawer {
  position: fixed;
  background: var(--aro-overlay-depth-l);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include drawerPlacementsMixin();

  .aro-drawer-close.aro-drawer-close {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .aro-drawer-close-icon {
    display: block;
    color: var(--aro-gray-60);
    cursor: pointer;

    &:hover {
      color: var(--aro-gray-80);
    }
  }

  .aro-drawer-header {
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 16px;
    border-bottom: 1px solid var(--aro-gray-30);
    color: var(--aro-gray-90);
  }

  .aro-drawer-body {
    flex: auto;
    font-size: 12px;
    padding: 16px;
    overflow: auto;
    color: var(--aro-gray-90);
  }

  .aro-drawer-footer {
    flex: 0 0 auto;
    border-top: 1px solid var(--aro-gray-30);
    display: flex;
    justify-content: center;
    padding: 12px;
  }
}
